/* ========== DEFAULT STYLE ========== */
* {
  margin: 0;
  padding: 0;
  outline: none;
  color: #111d2c;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  font-family: sans-serif;
  background-color: #f0f8ff;
}

/* ========== RESET TAG ========== */
a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
li {
  list-style: none;
}

/* ========== NAV ========== */
.fix-section {
  text-align: center;
  padding: 15px 10px;
  background-color: #111d2c;
}
nav {
  height: 110px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.55);
}
nav .logo h1 {
  font-size: 34px;
  color: #f0f8ff;
  padding-bottom: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
nav .menu ul {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
nav .menu-item {
  height: 25px;
  width: 144px;
  padding: 0 15px;
  font-size: 18px;
  color: #f0f8ff;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.67px;
  text-transform: uppercase;
  border-right: 2px solid #f0f8ff;
}
nav .menu li:last-child .menu-item {
  border: none;
}
nav .menu-item:hover {
  font-size: 16px;
  color: #7cb9e8;
  transition: color 0.45s, font-size 0.45s;
}
@media only screen and (max-width: 768px) {
  nav {
    height: 100px;
  }
  nav .logo h1 {
    font-size: 31px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .fix-section {
    padding: 10px 0;
  }
  nav {
    height: 70px;
  }
  nav .logo h1 {
    font-size: 18px;
    padding-bottom: 10px;
  }
  nav li {
    margin: 0 auto;
  }
  nav .menu-item {
    height: 16px;
    padding: 0 5px;
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 360px) {
  nav .logo h1 {
    font-size: 16px;
  }
}
/* ========== NAV END ========== */

/* ========== MAIN ========== */
main {
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;
  min-height: calc(100vh - 160px);
}
@media only screen and (max-width: 768px) {
  main {
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    min-height: calc(100vh - 140px);
  }
}
@media only screen and (max-width: 576px) {
  main {
    width: 99%;
    margin: 0 auto;
    padding: 10px 0;
    min-height: calc(100vh - 100px);
  }
}

.dashboard {
  padding: 25px 0;
}
.dashboard form {
  display: flex;
  flex-direction: column;
}

.dashboard .filter-div {
  padding: 10px 0;
  margin-bottom: 15px;
  border-bottom: 5px solid #111d2c;
}
.dashboard .filter-div > li {
  position: relative;
  width: 133px;
}
.dashboard .filter-div li ul {
  position: absolute;
  top: 15px;
  left: 133px;
  width: 0;
  overflow: hidden;
}
.dashboard .filter-div > li:hover ul {
  width: 275px;
  transition: width 0.45s;
}
.dashboard .filter-div li ul li {
  width: 100%;
}
.dashboard .filter-div .item {
  background-color: #7cb9e8;
  padding: 5px 25px;
  border: 1px solid #111d2c;
  font-weight: 600;
  min-width: 100%;
  font-size: 14px;
  color: #111d2c;
  transition: background-color 0.45s color 0.45s;
}
.dashboard .filter-div .item:hover {
  background-color: #111d2c;
  color: #f0f8ff;
}

.dashboard table {
  width: 100%;
  border-collapse: collapse;
}
.dashboard th,
td {
  padding: 5px;
  border: 1px solid #111d2c;
}
.dashboard table input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  background-color: transparent;
}
.dashboard .book-cover {
  height: 50px;
  width: 100%;
  object-fit: cover;
}
.dashboard table td:nth-child(4) {
  width: 10%;
}
.dashboard table td:nth-child(5) {
  width: 10%;
}
.dashboard table td:first-child {
  width: 10px;
}
.dashboard table td:last-child {
  width: 70px;
}
.dashboard button {
  background-color: #111d2c;
  border: none;
  color: #f0f8ff;
  cursor: pointer;
  font-weight: 600;
  padding: 7px 15px;
  margin-left: auto;
  margin-top: 15px;
}
.dashboard table a {
  background-color: #15ff00;
  width: 25px;
  height: 25px;
  font-size: 24px;
  color: #f0f8ff;
  text-align: center;
  line-height: 25px;
}
.dashboard table a:last-child {
  background-color: #ca3030;
}

#home-section table td:nth-child(5) {
  width: 15%;
  height: 70px;
}
#home-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ========== MAIN END ========== */

/* ========== FOOTER ========== */
footer {
  height: 50px;
}
footer p {
  opacity: 0.65;
  font-size: 13px;
  color: #f0f8ff;
  font-style: italic;
  word-spacing: 1.6px;
  text-transform: capitalize;
}
footer p a {
  color: #00ffff;
  font-style: normal;
}
footer p a:hover {
  color: #7cb9e8;
  transition: color 0.45s;
}
@media only screen and (max-width: 768px) {
  footer {
    height: 40px;
  }
}
@media only screen and (max-width: 576px) {
  footer {
    height: 30px;
  }
}
/* ========== FOOTER END ========== */
